.idea/
.vscode/
*.iml
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
terraform.rc.json
.terraformrc
**/backend.hcl
